<html>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div class="navbar">

        <img src="https://isthara.com/assets/codining/images/home-page/isthara-logo.svg">
        <div class="dropdown">
            <div class="drop_1">
                <P>AMEERPET METRO FOODCOURT
                <i class="fa-solid fa-angle-down"></i>
            </div>
            <div class="drop_2">
                <p>Ameerpet Metro Foodcourt</p>
            </div>
        </div>
        <div class="button">
            <button class="b1"(click)="homebutton()">Home</button>
            <button class="b2"(click) ="multibutton()">Multi Brand Diner</button>
            <button class="b3"(click)="Coliving()">Co-Living</button>
            <button class="b4"(click)="Partnership()">Partnership</button>
            <button class="b5"(click)="Aboutus()">About Us</button>
        </div>
        <img [src]="search" class="search">
        <a href="">Enquiry</a>
            <div >
                <Button class="login"(click)="login()">LOGIN</Button>
            </div>
    </div>

</body>

</html>