
<div class="footer">
    <div class="top">
    <div class="icons">
        <img [src]="istharaimg" class="isthara">
        <img [src]="googleplayimg" class="googleplay">
        <img [src]="applestoreimg" class="applestore">

    </div>
    <div class="istharacol">
        <p class="is">Isthara</p>
        <div class="subis">
            <p>Multi Brand Diner</p>
            <p>Co-Living</p>
            <p>About Us</p>
        </div>
    </div>
    <div class="vl"></div>
    <div class="partnershipcol">
        <p class="pt">Partnership</p>
        <div class="subpt">
            <p>Property Owner</p>
            <p>Food Vendor</p>
            <p>COllages/Corporates</p>
        </div>
    </div>
    <div class="vl"></div>
    <div class="supportcol">
        <p class="sp">Support</p>
        <div class="subsp">
            <p>Careers</p>
            <p>FAQ's</p>
            <p>Contact Us</p>
        </div>
    </div>
    </div>
    <div class="hl"></div>
    <div class="middle">
        <p class="ourpresence">Our Presence</p>
        <div class="l1">
        <p class="multi">Multi Brand Diner</p>
        <ul class="list">
            <li>Hyderabd+</li>
            <li>Delhi+</li>
            <li>TamilNadu+</li>
        </ul>
        </div>
        <div class="l2">
        <p class="co">Co-Living</p>
        <ul class="list2">
            <li>Hyderabd +</li>
        </ul>
        </div>
    </div>
    <div class="hll"></div>
    <div class="bottom">
        <div class="text">
        <p class="tc">Terms & Conditions</p>
        <p class="pp">Privacy Policy</p>
        </div>
        <div class="sym">
            <div class="sym1">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-square-facebook"></i>
        </div>
        <div class="link">
        <p>© ISTHARA PARKS PRIVATE LIMITED 2024</p>
        </div>
        </div>
    </div>
</div>